@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <style>
        span.field-validation-error {
            color: red;
        }
    </style>
</head>

<body>
    <div style="width:90%; margin:0 auto" class="tablecontainer">
        <a class="popup btn btn-primary" href="/Suppliers/Save/0" style="margin-bottom:20px; margin-top:20px">Add New Suppliers</a>
        <table id="supplierTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>CreateDate</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="tbody"></tbody>
        </table>
    </div>




    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>


    <script>
        $(document).ready(function () {
            var oTable = $('#supplierTable').DataTable({
                "order": [],
                "serverside": true,
                "ajax": LoadSupplier()
                //"columns": [
                //    { "data": "Name", "autoWidth": true },
                //    { "data": "Email", "autoWidth": true },
                //    { "data": "CreateDate", "autoWidth": true },
                //    {
                //        "data": "Id", "width": "50px", "render": function (data) {
                //            return '<a class="popup" href="/suppliers/save/' + data + '">Edit</a>';
                //        }
                //    },
                //    {
                //        "data": "Id", "width": "50px", "render": function (data) {
                //            return '<a class="popup" href="/suppliers/delete/' + data + '">Delete</a>';
                //        }
                //    }
                //]
            })
            $('.tablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));
            })
            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');
                });


                $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                          .html($pageContent)
                          .dialog({
                              draggable: false,
                              autoOpen: false,
                              resizable: false,
                              model: true,
                              title: 'Popup Dialog',
                              height: 550,
                              width: 600,
                              close: function () {
                                  $dialog.dialog('destroy').remove();
                              }
                          })

                $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.status) {
                                $dialog.dialog('close');
                                oTable.ajax.reload();
                            }
                        }
                    })

                    e.preventDefault();     
                })

                $dialog.dialog('open');
            }
        })
        function LoadSupplier() {
            $.ajax({
                url: '/Suppliers/List/',
                type: "GET",
                async: true
            }).then((data) => {
                debugger;
                var html = '';
                var i = 1;
                var obj = JSON.parse(data);
                $.each(obj, function (index, val) {
                    debugger;
                    html += '<tr>';
                    html += '<td>' + val.Name + '</td>';
                    html += '<td>' + val.Email + '</td>';
                    html += '<td>' + val.CreateDate + '</td>';
                    html += '<td><a href="#" class="btn btn-warning" onclick="return getbyID(' + val.Id + ')"><i class="fa fa-pencil"> Edit</i></a> <a href="#" class="btn btn-danger" onclick="Delete(' + val.Id + ')"><i class="fa fa-trash"> Delete</i></a></td>';
                    html += '</tr>';
                    i++;
                });
                $('.tbody').html(html);
            });
        }
    </script>
</body>
</html>

